.wrapperMonth {
    padding: 0 20px;
    background-color: var(--main-color-2);
}

.month {
    color: var(--main-text-color);
}


.title {
    color: var(--main-text-color);
    font-weight: 800;
    font-size: 32px;
    border-bottom: 3px solid ;
    
}

.calendarNumber {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.span {
    font-size: 16px;
}
