.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerRoulette {
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.wrapperConteiner {
    height: 100%;
}

.roulette {
    margin: 3px 0;
    align-content: center;
    overflow: hidden;
    width: 100vw;
    position: relative;
    scroll-snap-type: x mandatory;
}
/* 
.roulette::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, var(--main-color-2) 0%,rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, var(--main-color-2) 100%);
    z-index: 1;
} */

.itemList {
    max-height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    transition: transform 3s ease-in-out;
}

.animate {
    will-change: animation-name, animation-duration, animation-timing-function, animation-timing-function;
    animation-name: roulette;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.41,-0.01,.38,1.01);
    /* cubic-bezier(.41,0,.39,1) */
    animation-fill-mode: forwards;
}

@keyframes roulette {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(58 * -33.3333%));
    }
}

