.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerRoulette {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.wrapperConteiner {
    padding: 20px 0;
    height: 100%;
}

.roulette {
    align-content: center;
    overflow: hidden;
    width: 100vw;
    position: relative;
    scroll-snap-type: x mandatory;
}

.itemList {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    transition: transform 3s ease-in-out;
}


.calendar {
    color: white;
    margin-left: auto;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color-text);
    /* border: 2px solid rgb(23, 45, 70); */
    /* border-radius: 10px; */
    /* padding: 0 5px; */
}

.calendar:active {
    color: rgb(55, 62, 82);
}

.footer {
    text-align: center;
    font-size: 12px;
    color: rgb(50, 53, 94);
    width: 100%;
    padding-left: 20px;
}

.animate {
    will-change: animation-name, animation-duration, animation-timing-function, animation-timing-function;
    animation-name: roulette;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(.41, -0.01, .38, 1.01);
    /* cubic-bezier(.41,0,.39,1) */
    animation-fill-mode: forwards;
}

@keyframes roulette {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(60 * -33.3333%));
    }
}



a {
    color: inherit;
    /* Наследуем цвет родителя */
    text-decoration: none;
    /* Убираем подчеркивание */
}

a:hover,
a:active,
a:visited,
a:focus {
    color: inherit;
    /* Убираем цвет для всех состояний */
    text-decoration: none;
    /* Убираем подчеркивание при наведении и клике */
}
